---
import RoomFlow from "../components/RoomFlow.jsx";
---

<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>끝말잇기 로비</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <RoomFlow client:load />
  </body>
</html>
